:root {
  --text-color: #d1d5db;
  --background-color: #22d3ee;
  --primary-color: #a5f3fc;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background-color);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.input-text {
  width: 80%;
  padding: 0.5rem;
  margin: 2rem 2.5rem;
  display: block;
  box-sizing: border-box;
  font-size: 1.5rem;

  border-radius: 2rem;
}
.btn:hover {
  background-color: #cffafe;
}
.btn {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  margin: 0 auto 2rem auto;

  border: 0px;
  background-color: rgba(245, 245, 245, 0.575);
}
.nav-bar {
  background-color: rgba(245, 245, 245, 0.575);
  margin: 0%;
  padding: 1rem;
  font-size: 2rem;
}
ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
li {
  padding: 0.3rem;
}
.offwhite {
  background-color: rgba(245, 245, 245, 0.575);
  font-size: 2rem;
  margin: 0%;
}
.white {
  font-size: 2rem;
  background-color: var(--background-color);
  margin: 0%;
  color: var(--text-color);
}
